*{
    box-sizing: border-box;
}


#root-div h2{
    color: rgb(0, 60, 128);
}

#root-div>h2{
    color: green;
}

#root-div>div>p{
    border-bottom: 1px solid black;
}

#root-div > h2+div{
    border: 3px solid red;
}

h2 ~ div{
    padding: 20px;
}
